<div class="container">
  <h1 class="title is-2">Meus Sprints</h1>

  <% @sprints.each do |sprint| %>
    <div class="sprintfy-user-sprint">
      <div>
        <span>Equipe <%= sprint.squad.name %></span>
      </div>
      <div>
        <span class="counter">#<%= sprint.squad_counter %></span>
        de
        <span class="date"><%= format_date sprint.start_date %></span>
        a
        <span class="date"><%= format_date sprint.due_date %></span>
      </div>
      <%= link_to 'Ver', edit_sprint_path(id: sprint.id) %>
    </div>
  <% end %>
</div>
