<div class="container">
  <h1 class="title is-2">Meus Sprints</h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Equipe</th>
        <th>Nome</th>
        <th>Data inicio</th>
        <th>Data fim</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sprints.each do |sprint| %>
        <tr>
          <td><%= sprint.squad.name %></td>
          <td><%= sprint.squad_counter %></td>
          <td><%= format_date(sprint.start_date) %></td>
          <td><%= format_date(sprint.due_date) %></td>
          <td><%= link_to 'Ver', edit_sprint_path(id: sprint.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
