<div class="container">
  <h1 class="title is-2"><%= current_user.admin? ? 'SPRINTS' : 'MEUS SPRINTS' %></h1>
  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Equipe</th>
        <th>Nome</th>
        <th>Data inicio</th>
        <th>Data fim</th>
        <th>SP`s</th>
        <th>Goals</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sprints.each do |sprint| %>
        <% story_points = sprint.story_points %>
        <% promised_story_points = story_points.sum(&:expected_value) %>
        <% story_points_done = story_points.sum(&:value) %>
        <% goals = sprint.goals %>
        <% goals_count = goals.count %>
        <% completed = goals.where(completed: true).count %>
        <% if completed == goals_count %>
          <% class_name = 'succeded-sprint' %>
        <% elsif completed / goals_count.to_f >= 0.8 %>
          <% class_name = 'partially-succeded-sprint' %>
        <% elsif !sprint.closed? %>
          <% class_name = '' %>
        <% else %>
          <% class_name = 'failed-sprint' %>
        <% end %>
        <tr class='<%= class_name %>'>
          <td><%= sprint.squad.name %></td>
          <td><%= sprint.squad_counter %></td>
          <td><%= format_date(sprint.start_date) %></td>
          <td><%= format_date(sprint.due_date) %></td>
          <td><%= story_points_done %> / <%= promised_story_points %> (<%= promised_story_points.to_i > 0 ? (story_points_done / promised_story_points.to_f * 100).round(2) : 0 %>%)</td>
          <td><%= completed %> / <%= goals_count %> (<%= goals_count.to_i > 0 ? (completed / goals_count.to_f * 100).round(2) : 0 %>%)</td>
          <td><%= link_to 'Ver', edit_sprint_path(id: sprint.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
