<div class="container">
  <h1 class="title is-2">Finalizar Sprint</h1>

  <div class="columns">
    <div class="column is-half">
      <%= form_tag close_sprint_path, method: :post do %>
        <%= label_tag nil, 'Story Points', class: 'label' %>

        <table class="table is-bordered">
          <thead>
            <tr>
              <th></th>
              <th colspan="2" scope='colgroup' class="sprintfy-closing-table-center">
                StoryPoints
              </th>
            </tr>
            <tr>
              <th scope='colgroup'>Name</th>
              <th scope='col'>Expected</th>
              <th scope='col'>Done</th>
            </tr>
          </thead>

          <tbody>
            <% @sprint.story_points.each do |sp| %>
              <tr>
                <td><%= sp.user.name_or_email %></td>
                <td class='sprintfy-closing-table-center'>
                  <%= sp.expected_value %>
                </td>
                <td>
                  <%= hidden_field_tag "users[][id]", sp.user.id %>
                  <%= number_field_tag "users[][story_points]", '', step: '0.01', style: 'width: 80%', class: 'input', value: sp.expected_value, :step => 0.25 %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <div class="control">
          <%= label_tag 'did_right_sprint_report[text]', 'O que deu certo?', class: 'label' %>
          <div class="control">
            <%= text_area 'did_right_sprint_report', 'text', class: 'textarea', value: @did_right_text %>
          </div>
        </div>

        <div class="control">
          <%= label_tag 'did_wrong_sprint_report[text]', 'O que deu errado?', class: 'label' %>
          <div class="control">
            <%= text_area 'did_wrong_sprint_report', 'text', class: 'textarea', value: @did_wrong_text %>
          </div>
        </div>

        <div class="control">
          <%= label_tag 'what_to_change_sprint_report[text]', 'O que mudar?', class: 'label' %>
          <div class="control">
            <%= text_area 'what_to_change_sprint_report', 'text', class: 'textarea', value: @what_to_change_text %>
          </div>
        </div>

        <%= link_to 'Cancelar', edit_sprint_path, class: 'button' %>
        <%= submit_tag 'Finalizar', class: 'button is-primary' %>
      <% end %>
    </div>
  </div>
</div>
