
<div class="container">
  <h1 class="title is-2">Equipe <%= @sprint.squad.name %></h1>
  <h2 class="subtitle"><%= format_date @sprint.start_date %> a <%= format_date @sprint.due_date %></h2>

  <div class="sprintfy-sprint-goals">
    <strong class="title is-3">Goals</strong>

    <% @sprint.goals.each_with_index do |goal, i| %>
      <div class="box sprintfy-sprint-goal <%= 'goal-complete' if goal.completed %>">
        <div class="media">
          <div class="media-content">
            <div class="content">
              <div>
                <strong>Goal <%= i + 1 %></strong>
              </div>
              <div>
                <%= goal.description %>
              </div>
            </div>
            <nav class="level">
              <div class="level-left">
                <% unless goal.completed %>
                  <%= form_tag complete_goal_path(id: goal.id), method: :post do %>
                    <%= submit_tag 'Completar', class: 'button is-primary level-item' %>
                  <% end %>
                <% end %>
              </div>
            </nav>
          </div>
          <div class="media-right">
            <%= form_tag goal_path(id: goal.id), method: :delete do %>
              <button type="submit" class="delete"></button>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <a id="show-add-goal-form-btn" href="#">Adicionar Goal</a>
    </div>

    <div class="sprintfy-add-goal-form is-hidden">
      <div class="columns">
        <div class="column is-one-third">
          <%= form_for @sprint_goal, url: goals_path do |f| %>
            <%= f.hidden_field :sprint_id %>

            <%= f.label 'Descrição', class: 'label' %>
            <div class="control">
              <%= f.text_field :description, class: 'input' %>
            </div>

            <%= f.submit 'Criar Goal', class: 'button is-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="sprintfy-sprint-users">
    <strong class="title is-3">Participantes</strong>
    <table id="sprint-users-table" class="table is-bordered sprintfy-sprint-users-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Equipe</th>
          <th>Story Points</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @sprint.users.each do |user| %>
          <tr>
            <td><%= user.name_or_email %></td>
            <td><%= user.squad.name %></td>
            <td>
              0.0
              /
              <%= user.story_points.where(sprint: @sprint).take.expected_value %>
            </td>
            <td>
              <%= form_tag remove_user_sprint_path, method: :post do %>
                <%= hidden_field_tag 'sprint_id', @sprint.id %>
                <%= hidden_field_tag 'user_id', user.id %>
                <%= submit_tag 'remover', class: 'button' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div id="sprint-users-menu">
      <div><a id="show-add-sprint-user-form-btn" href="#">Adicionar Participante</a></div>
      <div><a id="show-edit-sprint-story-points-form-btn" href="#">Editar Story Points</a></div>
    </div>
  </div>

  <div class="sprintfy-add-sprint-user-form is-hidden" %>
    <%= form_tag add_user_sprint_path, method: :post do %>
      <%= hidden_field_tag 'sprint_id', @sprint.id %>

      <div class="control">
        <%= label_tag 'sprint-user', 'Participante', class: 'label' %>
        <span class="select">
          <%= select_tag 'user_id', options_from_collection_for_select(@users, 'id', 'name_or_email'), include_blank: true %>
        </span>
      </div>

      <%= submit_tag 'Adicionar', class: 'button is-dark' %>
    <% end %>
  </div>

  <div id="sprintfy-edit-sprint-story-points-form" class="is-hidden">
    <%= form_tag edit_story_points_path, method: :post do %>
      <%= hidden_field_tag 'sprint[id]', @sprint.id %>

      <table class="table is-bordered">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Story Points</th>
          </tr>
        </thead>

        <tbody>
          <% @sprint.users.each do |user| %>
            <tr>
              <td><%= user.name_or_email %></td>
              <td>
                <%= hidden_field_tag "users[][id]", user.id %>
                <%= number_field_tag "users[][story_points]", '', step: '0.01', style: 'width: 30%', class: 'input', value: user.story_points.where(sprint: @sprint).take.expected_value %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= submit_tag 'Salvar', class: 'button is-dark' %>
    <% end %>
  </div>
</div>
