<%= render(partial: 'layouts/page_header', locals: {
  icon: 'rocket',
  title: "Equipe #{ @sprint.squad.name } ##{@sprint.squad_counter}",
  subtitle: "#{ format_date(@sprint.start_date) } a #{ format_date(@sprint.due_date) }"
}); %>

<div class="container page-container">
  <%= render(partial: 'sprints/edit/actions') if !@sprint.closed && current_user.can_update?(@sprint) %>
  <%= render(partial: 'sprints/edit/dates') if !@sprint.closed && current_user.can_update?(@sprint) %>
  <%= render(partial: 'sprints/edit/reports') if @sprint.closed %>
  <%= render(partial: 'sprints/edit/daily_meetings') %>
  <%= render(partial: 'sprints/edit/goals') %>
  <%= render(partial: 'sprints/edit/users') %>
</div>
