<div class="container">
  <h1 class="title is-2">Novo Sprint</h1>

  <div class="columns">
    <div class="column is-half">
      <%= form_for @sprint, url: { action: 'create' } do |f| %>
        <div class="control">
          <%= f.label 'Equipe', class: 'label' %>
          <span class="select">
            <%= f.select :squad_id, options_from_collection_for_select(@squads, 'id', 'name', @user_squad) %>
          </span>
        </div>

        <%= f.label 'Período', class: 'label' %>
        <div class="control is-horizontal">
          <div class="control is-grouped">
            <p class="control is-expanded">
              <%= f.text_field :start_date, class: 'input sprintfy-date-input', placeholder: 'Início' %>
            </p>

            <p class="control is-expanded">
              <%= f.text_field :due_date, class: 'input sprintfy-date-input', placeholder: 'Término' %>
            </p>
          </div>
        </div>

        <%= f.submit 'Criar Sprint', class: 'button is-primary' %>
      <% end %>
    </div>

    <div class="column">
      <% @squads.each do |squad| %>
        <div id="what-to-change-<%= squad.id %>" class="is-hidden what-to-change-box">
          <% if @squads_what_to_change_texts[squad.id] %>
            <div class="box sprintfy-what-to-change">
              <div class="title is-5">O que mudar nesse sprint?</div>

              <div class="subtitle is-6">
                texto do sprint #<%= @squads_what_to_change_texts[squad.id][:sprint_number] %>
              </div>

              <div class="text"><%= simple_format @squads_what_to_change_texts[squad.id][:text] %></div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
