<div class="notification-login-page">
  <%= content_tag(:div, flash[:error], class: 'notification is-danger',
    :id => "flash_error") if flash[:error] %>
  <%= content_tag(:div, flash[:alert], class: 'notification is-warning',
    :id => "flash_alert") if flash[:alert] %>
</div>
<header class="hero is-link page-header">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Bem-vindo :)
      </h1>
    </div>
  </div>
</header>
<div class="container page-container">
  <div class="columns">
    <div class="column is-one-third">
    </div>
    <div class="column is-one-third">

      <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
        <div class="field">
          <%= f.label 'E-mail', class: 'label' %>
          <p class="control">
            <%= f.text_field :email, class: 'input' %>
          </p>
        </div>

        <div class="field">
          <%= f.label 'Senha', class: 'label' %>
          <p class="control">
            <%= f.password_field :password, autocomplete: 'off', class: 'input' %>
          </p>
        </div>

        <div class="field">
          <div class="columns">
            <div class="column">
              <%= f.label :remember_me, class: 'checkbox' do %>
                <%= f.check_box :remember_me %>
                <small>Manter-me conectado</small>
              <% end %>
            </div>
            <div class="column has-text-right">
              <small><%= link_to 'Esqueci minha senha', user_password_path %></small>
            </div>
          </div>
        </div>

        <%= f.submit 'Entrar', class: 'button is-rounded is-primary' %>
      <% end %>
    </div>
  </div>
</div>
