<table>
  <thead>
    <tr>
      <th></th>
      <th>Dias</th>
      <th>SPs</th>
      <th>SPs / Dia</th>
      <th>Média Histórica de <br /> SPs / Dia</th>
    </tr>
  </thead>
  <tbody>
    <% @story_points.each do |sp| %>
      <tr>
        <td style="text-align: right;"><b><%= sp[:user_name] %></b></td>
        <td style="text-align: center;"><%= @sprint_days_count %></td>
        <td style="text-align: center;"><%= sp[:story_points] %></td>
        <td style="text-align: center;">
          <b>
            <%= number_with_precision(sp[:daily_story_points], precision: 2) %>
          </b>
        </td>
        <td style="text-align: center;">
          <%= number_with_precision(sp[:daily_story_points_average], precision: 2) %>
        </td>
      </tr>
    <% end %>

    <tr>
      <td style="text-align: right;"><b>Total</b></td>
      <td style="text-align: center;"><%= @sprint_days_count %></td>
      <td style="text-align: center;"><%= @total_story_points[:story_points] %></td>
      <td style="text-align: center;">
        <b>
          <%= number_with_precision(@total_story_points[:daily_story_points], precision: 2) %>
        </b>
      </td>
      <td style="text-align: center;">
        <%= number_with_precision(@total_story_points[:daily_story_points_average], precision: 2) %>
      </td>
    </tr>
  </tbody>
</table>
