<div style="font-size: 28px;">Relatório Sprint #<%= @sprint.squad_counter %></div>
<div>
  <div style="font-size: 18px; color: #555; margin-bottom: 10px;">Equipe <%= @squad.name %></div>
  <div style="font-size: 18px; color: #555;"><%= format_date(@sprint.start_date) %> até <%= format_date(@sprint.due_date) %></div>
  <div style="font-size: 18px; color: #555;"><%= @sprint_days_count %> dias úteis</div>
</div>
