<table style="border-collapse: collapse; border: 1px solid black;">
  <thead>
    <tr>
      <th style="border: 1px solid black; min-width: 100px;"></th>
      <th style="border: 1px solid black; min-width: 100px;">Entregues</th>
      <th style="border: 1px solid black; min-width: 100px;">Prometidos</th>
      <th style="border: 1px solid black; min-width: 100px;">%</th>
      <th style="border: 1px solid black; min-width: 100px;">Média Histórica de <br /> % de SPs / Sprint</th>
    </tr>
  </thead>
  <tbody>
    <% @story_points.each do |sp| %>
      <tr>
        <td style="text-align: right; border: 1px solid black; min-width: 100px;"><b><%= sp[:user_name] %></b></td>
        <td style="text-align: center; border: 1px solid black; min-width: 100px;"><%= sp[:story_points] %></td>
        <td style="text-align: center; border: 1px solid black; min-width: 100px;"><%= sp[:expected_story_points] %></td>
        <td style="text-align: center; border: 1px solid black; min-width: 100px; <%= sp[:total_percent] >= 100 ? 'color: #090;' : 'color: #c00' %>">
          <b>
            <%= number_with_precision(sp[:total_percent], precision: 2) %>%
          </b>
        </td>
        <td style="text-align: center; border: 1px solid black; min-width: 100px;">
          <%= number_with_precision(sp[:story_points_average], precision: 2) %>%
        </td>
      </tr>
    <% end %>

    <tr>
      <td style="text-align: right; border: 1px solid black; min-width: 100px;"><b>Equipe</b></td>
      <td style="text-align: center; border: 1px solid black; min-width: 100px;"><%= @total_story_points[:story_points] %></td>
      <td style="text-align: center; border: 1px solid black; min-width: 100px;"><%= @total_story_points[:expected_story_points] %></td>
      <td style="text-align: center; border: 1px solid black; min-width: 100px; <%= @total_story_points[:total_percent] >= 100 ? 'color: #090;' : 'color: #c00' %>">
        <b>
          <%= number_with_precision(@total_story_points[:total_percent], precision: 2) %>%
        </b>
      </td>
      <td style="text-align: center; border: 1px solid black; min-width: 100px;">
        <%= number_with_precision(@total_story_points[:story_points_average], precision: 2) %>%
      </td>
    </tr>
  </tbody>
</table>
