<div class="container">
  <h1 class="title is-2">Equipe <%= @squad.name %></h1>
  <div style="margin-bottom: 40px;">
    <a id="sprintfy-squad-add-manager-btn" href="#" class="button">Adicionar Gestor</a>

    <div id="sprintfy-squad-add-manager-form" class="is-hidden">
      <%= form_for @squad, url: squad_path(@squad), method: :patch do |f| %>
        <div class="control">
          <span class="select">
            <%= select_tag 'squad_manager[id]', options_from_collection_for_select(@managers, 'id', 'name_or_email'), include_blank: true %>
          </span>
        </div>

        <button class="button is-dark">Adicionar</button>
      <% end %>
    </div>
  </div>

  <div style="margin-bottom: 10px;">
    <strong class="title is-3">Integrantes</strong>
  </div>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Integrante</th>
      </tr>
    </thead>

    <tbody>
      <% @squad_users.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="margin-bottom: 10px;">
    <strong class="title is-3">Gestores</strong>
  </div>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Gestor</th>
      </tr>
    </thead>

    <tbody>
      <% @squad_managers.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Ir para equipes', squads_path, class: 'button is-dark' %>
  </div>
</div>
