<%= render(partial: 'layouts/page_header', locals: {
  icon: 'users',
  title: 'Equipes',
  subtitle: "Equipe #{@squad.name}"
}); %>

<div class="container page-container">
  <div>
    <a id="sprintfy-squad-add-manager-btn" href="#" class="button is-rounded">Adicionar Gestor</a>

    <div id="sprintfy-squad-add-manager-form" class="is-hidden">
      <%= form_for @squad, url: squad_path(@squad), method: :patch do |f| %>
        <div class="field has-addons rounded">
          <div class="control">
            <span class="select">
              <%= select_tag 'squad_manager[id]', options_from_collection_for_select(@managers, 'id', 'name_or_email'), include_blank: true %>
            </span>
          </div>
          <div class="control">
            <button class="button is-rounded is-dark">Adicionar</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div style="margin-bottom: 10px;">
    <strong class="title is-3">Integrantes</strong>
  </div>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Integrante</th>
      </tr>
    </thead>

    <tbody>
      <% @squad_users.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div style="margin-bottom: 10px;">
    <strong class="title is-3">Gestores</strong>
  </div>

  <table class="table is-bordered">
    <thead>
      <tr>
        <th>Gestor</th>
      </tr>
    </thead>

    <tbody>
      <% @squad_managers.each do |user| %>
        <tr>
          <td><%= user.name_or_email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Ir para equipes', squads_path, class: 'button is-dark' %>
  </div>
</div>
