<h1 class="title is-2">RELATÓRIOS</h1>

<div class="filter-graph">
  <%= form_for '', :url => { action: "index", builder: ReportsController}, html: { id: "report-form" } ,method: :get do |f| %>
    <div class="options">
      <div class="param">
        <h3>Selecione a base de usuários</h3>
        <%= select("filter", "user", ['Todos','Equipe'] , { include_blank: false, selected: @filters[:user] }) %>
      </div>
      <div class="param">
        <h3>Selecione o Período</h3>
        <%= select("filter","period",['Sprint','Mensal','Semanal'],{ include_blank: false, selected: @filters[:period] }) %>
      </div>
      <div class="param">
        <h3>Selecione a Equipe</h3>
        <%= select("filter","squad",options_for_select(Squad.all.collect{|s| [s.name, s.id]}, @filters[:squad]),{ include_blank: false }) %>
      </div>
      <div class="param">
        <%= f.submit 'Gerar Relatório'%>
      </div>
    </div>
  <% end %>
</div>
<br>

<%=
  line_chart @data[:data],
    title: @data[:name],
    xtitle: @data[:period],
    ytitle: "SP",
    curve: false,
    legend: false
%>
