<!DOCTYPE html>
<html>
  <head>
    <title>Sprintfy</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
  </head>

  <body>
    <section class="app-wrapper">
      <%= render('layouts/header'); %>
      <% if user_signed_in? %>
        <div class="container-fluid">
          <% if flash[:notice] %>
            <div class="notification is-info flash">
              <p><%= flash[:notice] %></p>
            </div>
          <% end %>

          <% if flash[:success] %>
            <div class="notification is-success flash">
              <p><%= flash[:success] %></p>
            </div>
          <% end %>

          <% if flash[:error] %>
            <div class="notification is-danger flash">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>

          <%= yield %>
        </div>
      <% else %>
        <div>
          <% if flash[:notice] %>
            <div class="notification has-text-centered is-info flash">
              <p><%= flash[:notice] %></p>
            </div>
          <% end %>

          <% if flash[:error] %>
            <div class="notification has-text-centered is-danger flash">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
        </div>
        <%= yield %>
      <% end %>
    </section>

    <footer id="footer" class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>
            <%= link_to :root do %>
              <span class="icon">
                <i class="fa fa-code-branch"></i>
              </span>
              <span class="logo-text is-uppercase">
                <strong>Sprint</strong>fy
              </span>
            <% end %>
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
