<!DOCTYPE html>
<html>
  <head>
    <title>Sprintfy</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="hero is-primary">
      <div class="hero-head">
        <header class="nav">
          <div class="container">
            <div class="nav-left">
              <%= link_to :root, class: 'nav-item is-brand' do %>
                <%= image_tag 'logo-sprintfy.png' %>
              <% end %>
            </div>

            <div id="nav-toggle" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </header>
      </div>
    </section>

    <% if user_signed_in? %>
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-3">
              <aside class="menu">
                <p class="menu-label">SPRINTS</p>
                <ul class="menu-list">
                  <li><%= link_to 'MEUS SPRINTS', :user_sprints %></li>
                  <li><%= link_to 'CRIAR SPRINT', new_sprint_path %></li>
                </ul>

                <p class="menu-label">USUÁRIOS</p>
                <ul class="menu-list">
                  <li><%= link_to 'CADASTRADOS', :users_list %></li>
                  <li><%= link_to 'CRIAR USUÁRIO', new_user_path %></li>
                </ul>

                <p class="menu-label">EQUIPES</p>
                <ul class="menu-list">
                  <li><%= link_to 'CADASTRADAS', squads_path %></li>
                  <li><%= link_to 'CRIAR EQUIPE', new_squad_path %></li>
                </ul>

                <p class="menu-label">CONTA</p>
                <ul class="menu-list">
                  <li><%= link_to 'MUDAR SENHA', :edit_user_registration %></li>
                  <li><%= link_to 'SAIR', :destroy_user_session, method: :delete %></li>
                </ul>
              </aside>
            </div>
            <div class="column">
              <% if flash[:notice] %>
                <div class="container">
                    <p><%= flash[:notice] %></p>
                </div>
              <% end %>

              <% if flash[:error] %>
                <div class="container">
                  <p><%= flash[:error] %></p>
                </div>
              <% end %>

              <%= yield %>
            </div>
          </div>
        </div>
      </section>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
